.page-404 {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 434px;
  height: 601px;
}
.container-error {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  width: 280px;
}
@media (max-width: 870px) {
  img {
    width: 260px;
    height: 360px;
  }
  .container-error {
    font-size: 20px;
    width: 200px;
  }
}
@media (max-width: 400px) {
  img {
    width: 130px;
    height: 160px;
  }
}
